@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(85, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* place-items: center; */
	/* background: #222; */
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.project-section {
  /* position: relative;  */
  /* top: 100px; */
  /* border: 2px solid black; */
  text-align: center;
  margin-bottom: 12em;

}

/* project card styling */
.project-card {
  /* top: -40px;
  position: relative;
  display: flex;
  width: 100%;
  height: 12.5em;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35) */
  width: 70%;
  max-width: 60rem;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5em auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  
}


.project-card-body {
  /* background: rgba(0,0,0, .5); */
  /* color: rgb(2, 2, 2);
  padding: 3rem;
  top: -5%;
  text-align: center; 
  
  /* position: absolute; 
  
  /* display: inline-block; */
  text-align: left;
}

.project-title {
  top: 100%;
  /* position: absolute; */
  text-align: center;
}

.project-buttons {
  /* margin: 2em 0;
  font-size: 90%;
  display: inline-block;
  color: white;
  background: black;
  width: 5rem;
  padding: .5em;
  margin: .5em .5em 0 .5em;
  transition: all .2s; */
  }

.project-button {
  font-size: 90%;
  background: lightslategray;
  color: white;
  margin: .5em .5em 0 .5em;
  padding: .5em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  border-radius: 10px;
}  

.project-button:hover {
  /* background: lightslategray; */
  background: darkslategray;
  color: var(--background);
  /* color: black; */
  transform: translateY(-5px);
  box-shadow: 0 5px 5px gray;
  /* box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2); */

}

.tool-list {
  text-decoration: none;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}

.tool {
  justify-content: center;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  margin: .3em .3em 0 .3em;
}


/* .project-card::before,
.project-card::after {
  content: '';
  position: absolute;
  border: 1px solid white;
}

.project-card::before{
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
}

.project-card::after{
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
} */

.project-card-image {
  /* top: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; */
  margin: auto;
  display: block;
  width: 100%;
  max-width: 500px;

  
}


/* .home-hero {
  height: 200vh;
  object-fit: cover;
  width: 1600px;
  height: 1000px;
  padding: 40em 0; 
  top: 50px; 
  background-image: url("https://images.unsplash.com/photo-1606510165704-f874e3e8f99d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80");
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
} */

/* nav style starts here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

 nav {
   position: absolute;
   text-align: left;
   top: 100%;
   left: 0;
   background: var(--background);
   width: 100%;
   transform: scale(1, 0);
   transform-origin: top;
   transition: transform 400ms ease-in-out;
 }
 
 nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 nav li {
   margin-bottom: 1em;
   margin-left: 1em;
 }

 nav a {
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
   text-transform: uppercase;
   opacity: 0;
   transition: opacity 150ms ease-in-out;
 }

 nav a:hover {
   color: #000
 }

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;


}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px
}

.nav-toggle-label span::after {
  top: 7px;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .title {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red */
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /* transform-origin: right; */
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

}


/* form css */

.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  max-width: 300px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-input,
.form-button {
font-family: inherit;
text-transform: uppercase;
font-weight: 800;
font-size: 10px;
letter-spacing: 1.2px;
border: 0;
}

.form-input {
  padding: 1.5em;
}

.form-input:focus::placeholder {
  color: var(--background);
  opacity: 0.85;
}

.form-item:first-of-type {
position: relative;
}

.form-item:first-of-type::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.form-button {
  background: var(--background);
  color: white;
  padding: 1.25em 2em;
}

@media only screen and (min-width: 550px) {
  .form {
    flex-direction: row;
    max-width: 550px;
    border: 10px solid white;
    border-radius: 3em;

  }

  .form-button {
    border-radius: 3em;
    margin-left: auto;

  }
  
  .form-item {
    justify-content: center;
  }

  .form-item:last-of-type {
    flex-grow: 1;
  }

  .form-item:first-of-type::after {
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    left: initial;
    height: initial;

  }

  /* desktop css for tool list (languages) */

  .tool-list {
    justify-content: center;
  }

}
/* #navbar {
  width: 100%;
  height: 60px;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

#navbar h4 {
  color: white;
  position: absolute;
  left: 20px;
}

#navbar img {
  position: absolute;
  top: 8px;
  right: 20px;
  width: 50px;
  height: 50px;
  
}

#menu-div {
  width: 1000px;
  height: 1000px;
  background-color: blue;
} */