@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(85, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
	font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  background: whitesmoke;
  scroll-behavior: smooth; 
}

.app {
  scroll-behavior: smooth; 
}

html {
  scroll-behavior: smooth;
  }

.title {
  color: white;
}

.home-hero {
height: 100vh;
background-image: url("https://images.unsplash.com/photo-1563301780-c5566f624e81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
background-size: cover;
width: 100%;
background-repeat: no-repeat;
background-position: center;
}

.about {
  margin: auto;
  width: 45vh;
  height: 35vh;
  padding: 10px;
  top: 17em;


  
}

.about img {
  height: 18vh;
  width: 18vh;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  justify-content: center;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about h3 {
  color: white;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.about-toggle:checked ~ p{
/* display: block; */
transform: scale(1, 1);
/* margin-left: auto;
margin-right: auto; */
}


.about-toggle {
  display: none;
}

.about-toggle-label {
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: .75em 2.5em;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor: pointer;
  justify-content: center;
  display: flex;
  width: 50%;
}

.about-toggle-label:hover {
  /* background-color: white;
  color: black; */
  transform: scale(1.1, 1.1);
  transform-origin: center;
  /* box-shadow: black; */
  transition: transform 300ms ease-in-out;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35)
}
.about p {
  color: white;
  transform: scale(0, 0);
  transform-origin: top;
  line-height: 1.5;
  text-align: left;
  transition: transform 400ms ease-in-out;
}

.about label {
  margin-bottom: 20px;
}
.divider{
  position: relative;
  top: -21px;
  width: 100%;
  height: 5em;
  background-color: #424242;
}

.divider h1 {
  color: white;
  text-align: center;
  position: relative;
  top: 20px;
}


img {
  max-width: 100%;
  height: auto;
}

.project-section {
  text-align: center;
  margin-bottom: 12em;

}

/* project card styling */
.project-card {
  width: 70%;
  max-width: 60rem;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5em auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  
}


.project-card-body {
  text-align: left;
}

.project-title {
  top: 100%;
  text-align: center;
}

.project-button {
  font-size: 90%;
  background: lightslategray;
  color: white;
  margin: .5em .5em 0 .5em;
  padding: .5em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  border-radius: 10px;
}  

.project-button:hover {
  background: rgb(44, 51, 71);
  transform: translateY(-8px);
  box-shadow: 0 5px 5px gray;

}

.tool-list {
  text-decoration: none;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}

.tool {
  justify-content: center;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  margin: .3em .3em 0 .3em;
}

.project-card-body img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 500px;
  border: 2px solid rgb(187, 187, 187);
  
}

.card-text {
  text-align: center;
}

/* nav style starts here */

header {
  background: transparent;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

 nav {
   position: absolute;
   text-align: left;
   top: 100%;
   left: 0;
   background: transparent;
   width: 100%;
   transform: scale(1, 0);
   transform-origin: top;
   transition: transform 400ms ease-in-out;
 }

 .nav-scrolled {
  background: rgb(44, 51, 71);

}
 
 nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 nav li {
   margin-bottom: 1em;
   margin-left: 1em;
 }

 nav a {
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
   text-transform: uppercase;
   opacity: 0;
   transition: opacity 150ms ease-in-out;
 }

 nav a:hover {
   color: white;
 }

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;


}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  color: white;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px
}

.nav-toggle-label span::after {
  top: 7px;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .title {
    grid-column: 2 / span 1;
    color: white;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red */
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /* transform-origin: right; */
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }


}


/* form css */

.contact-form {
  width: 60%;
  margin: 4em auto;
  max-width: 35rem;
  text-align: center;
}

input {
  width: 100%;
  display: block;
  margin: .2em auto;
  outline: none;
  padding: .7em;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.send-btn {
  font-family: 'roboto', 'Helvetica';
  font-size: 90%;
  display: inline-block;
  color: white;
  background: slategray;
  /* background: $main-color; */
  width: 5rem;
  padding: .5em;
  border: none;
  transition: all .2s;
  border-radius: 10px;
}

.send-btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background: rgb(44, 51, 71);
    box-shadow: 0 5px 5px gray;
  }

  textarea {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-bottom: 2em;
    width: 100%;
    height: 15rem;
    outline: none;
    padding: .7em;
    text-align: left;
    line-height: 1.5em;
    resize: none;
    
  }  

@media only screen and (min-width: 550px) {
  .form {
    flex-direction: row;
    max-width: 550px;
    border: 10px solid white;
    border-radius: 3em;

  }

  .form-button {
    border-radius: 3em;
    margin-left: auto;

  }
  
  .form-item {
    justify-content: center;
  }

  .form-item:last-of-type {
    flex-grow: 1;
  }

  .form-item:first-of-type::after {
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    left: initial;
    height: initial;

  }

  /* desktop css for tool list () */

  .tool-list {
    justify-content: center;
  }

  footer img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    padding: 10px;

    width: 50px;
   
  
  }


  

}

footer {
  width: 100%;
  height: 15vh;
  background: black;
 
}

footer h4 {
  position: relative;
  top: 32px;
  color: white;
  text-align: center;
}



.footer-center {
  /* position: relative;
  top: 15px;
  display: flex;
  justify-content: left; */
  justify-content: center;
  display: flex;
  margin: auto;
  width: 30%;
  /* border: 3px solid green; */
  padding: 10px;
}
footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
  /* position: relative; */

}

@media only screen and (max-width: 767px){
.about p {
  font-size: 70%;
}
}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .about img {
    margin-top: 250px;
  }
  .about p {
    font-size: 70%;
  }
}
